NEXT_PUBLIC_GENLAYER_CHAIN=studionet
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com:8443/api
NEXT_PUBLIC_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
TWITTER_API_KEY=your_twitterapi_io_key_here
